@import "tailwindcss";

@plugin "daisyui";


body {

  



  .typewriter {
    overflow: hidden;

    color: red;
    white-space: nowrap;
    animation: typing 2s steps(20, end), blink 0.7s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .fade-in {
    animation: fadeIn 1s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .social-icon {
    transition: transform 0.3s ease;
  }

  .social-icon:hover {
    transform: scale(1.2);
  }

  .curtain {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    transition: bottom 0.8s ease-in-out;
  }

  .curtain.active {
    bottom: 0;
  }

  @keyframes rotateLine {
    0% {
      transform: rotateZ(0deg);
    }

    50% {
      transform: rotateZ(180deg);
    }

    100% {
      transform: rotateZ(0deg);
    }
  }

  .rotate-line {
    animation: rotateLine 2s ease-in-out infinite;
    transform-origin: center;

  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .animate-fadeOut {
    animation: fadeOut 0.3s ease-in forwards;
  }
}



@layer utilities {
  .font-gothic {
    font-family: "Special Gothic", sans-serif;
  }

  .font-noto {
    font-family: "Noto Sans", sans-serif;
  }

  .font-ubuntu {

    font-family: "Ubuntu", sans-serif;

  }


} 